body{
	font-family:verdana;
	color:#444;
}

#keyboard{
    display: flex;
    flex-direction: column;
    width: 704px;
    margin: 0 auto;
}
#keyboard .row{
    display: flex;
	width: 100%;
    height: 40px;
    margin-bottom: 10px;
   /*  clear: both; */
}
#keyboard .key{
    width: 40px;
    color: #fff;
}
#keyboard .key2{
    width: 55px;
}
#keyboard .key, #keyboard .key2, #keyboard .backspace,#keyboard .capslock,
#keyboard .enter, #keyboard .shift, #keyboard .shiftR,
#keyboard .space, #keyboard .Tab, #keyboard .ctrl{
    height: 40px;
    cursor: pointer;
    margin-left: 6px;
    text-align: center;
    line-height: 40px;
	 background: linear-gradient(to top, #525046, #2e2d29);
	box-shadow:
	  -1px 0px rgb(24, 23, 22), -1px 1px rgb(16,23,14),
	  -2px 1px rgb(23,22,21), -2px 2px rgb(15,22,13),
	  -3px 2px rgb(21,20,19), -3px 3px rgb(14,21,12),
	  -4px 3px rgb(19,18,17), -4px 4px rgb(13,20,11),
	  -5px 4px rgb(17,16,15), -5px 5px rgb(12,19,10),
	  -6px 5px rgb(16,15,14), -6px 6px rgb(11,18,9);
}
#keyboard .key:hover{
    background: #6d6b64;
}
#keyboard .backspace,#keyboard .capslock{
    width: 100px;
}
#keyboard .shift{
    width: 70px;
}
#keyboard .shiftR{
    width: 120px;
}
#keyboard .capslock,#keyboard .shift, #keyboard .Tab, #keyboard .ctrl,#keyboard .backspace,#keyboard .enter,
#keyboard .shiftR, #keyboard .ctrl{
color: #6e3333;
}
#keyboard .Tab, #keyboard .ctrl{
    width: 80px;
}
#keyboard .space{
    width: 250px;
}
#keyboard sup{
    margin: -10px 0 0 -24px;
    font-size: 12px;
    position: absolute;
}
.result{
    width: 680px;
    height: 80px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}